.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*----------*/

#credDiv {
  margin: 60px 20%;
  background-color: #dcdbe0;
  border-radius: 60px;
  display: flex;
  align-items: center;
}

.credImage {
  flex: 1;
  display: flex;
  /* align-items: center; Center vertical */
  justify-content: center; /* Center horizontally */
  padding: 60px 30px 60px 60px ;
}

.credImage img {
  max-width: 100%;
}

.credForm {
  flex: 1;
  padding: 60px 60px 60px 30px ;
  /* display: flex;
  flex-direction: column;*/
  /* align-items: center;  Center horizontally */
  /* justify-content: center;  Center vertically */
}

/*----------*/

.credForm input[type="submit"] {
  width: 100%; /* Full width button */
    padding: 15px; /* Larger padding for better touch area */
    margin-top: 20px; /* Space above the button */
    border-radius: 25px; /* Rounded corners for buttons */
    border: none; /* Remove default border */
    background-color: #ff7f00; /* Button color */
    color: white; /* Text color */
    font-size: 18px; /* Larger font size */
    cursor: pointer;
}

.credForm input[type="submit"]:hover {
  background-color: #e76e00; /* Darker button color on hover */
}

.credForm a {
  color: #ff7f00;
  text-decoration: none;
  font-size: 15px;
}

.credForm a:hover {
  text-decoration: underline;
}

.credForm input[type="text"], .credForm input[type="password"] {
  width: calc(100% - 20px); /* Full width with padding accounted for */
    padding: 10px; /* Inner padding for a comfortable touch area */
    margin: 10px 0; /* Vertical margin between elements */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #ccc; /* Light border */
    box-sizing: border-box;
}

.credForm #inner-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.credForm #text {
  font-size: 15px;
  color: #666;
}

.credForm .error {
  color: red;
  font-size: 12px;
}